
<h1>Male</h1>
<!-- <mat-divider></mat-divider> -->
<mat-list *ngFor="let pet of malePetCollection">
    <mat-list-item> 
            <mat-icon>face</mat-icon>
            <span class="agl-petname">{{pet.name}} </span>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

<h1 class="">Female</h1>

<mat-list *ngFor="let pet of femalePetCollection">
    <mat-list-item> 
            <mat-icon>face</mat-icon>
            <span class="agl-petname">{{pet.name}} </span>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>


